/*
font-family: 'Roboto', sans-serif;
font-family: 'Ultra', serif;
font-family: 'Mogra', serif;
pink = #D44A4B
grey = #f2f2f2
*/

body {
  	overflow-x: hidden
  }

p {
 	font-family: 'Roboto', sans-serif;
 }

h5 {
	font-size: 18px;
	font-weight: bold;
}

h2 {
	font-family: 'Mogra', serif;
	letter-spacing: 2px;
	font-size: 90px;
}

h3 {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 4px;
	font-weight: bold;
}

h6 {
	color: #D44A4B;
	font-size: 15px;
	font-weight: bold;
}


/* ------ Navbar ------ */ 

#logotop {
	height:30px;
}

.navbar {
	margin-top: 150px;
	background: none;
	border:none;
	color: black;
}

#navbar-primary .navbar-nav {
	width: 100%;
	text-align: center;
}
#navbar-primary .navbar-nav > li {
	display: inline-block;
	float: none;
}
#navbar-primary .navbar-nav > li > a {
	padding-left: 30px;
	padding-right: 30px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 4px;
	color: white;
	background-color: transparent;
}

#navbar-primary .navbar-nav > li > a:hover {
	background-color: transparent;
	color: #D44A4B;
}

#navbar-primary .navbar-nav > li > a:active {
	background-color: transparent;
}


/* ------ landing image ------ */

.imagecentre {
	background-image: url("../images/pizzacover.jpg");
	background-size: cover;
	height: 900px;
	margin-top: -100px;
}

.jumbotron {
	background-color: transparent;
	color: white;
	margin-top: 0 auto;
}

.textjumbo {	
	margin-top: 100px;
	text-align: center;
}


#viewmore {
	background-color: transparent;
	margin-top: 50px;
	color: white;
	border-radius: 0px;
	padding-left: 25px;
	padding-right: 25px;
}

/* ------ Grey area ------ */

.grey {
	background-color: #f2f2f2;
}

#choice {
	background-color: transparent;
	border: black 1px solid;
	width: 100px;
	margin-left: 20px;
	font-family: 'Roboto', sans-serif;
	margin-top: 20px;
	margin-bottom: 80px;
}

#choice:hover {
	background-color: #D44A4B;
	border: none;
	color: white;
	font-family: 'Roboto', sans-serif;
}

#categories {
	text-align: center;
	margin-top: 40px;
}

.thumbnail {
	background-color: transparent;
	border: none;
	text-align: center;
}

.loadmore {
	text-align: center;
	background-color: transparent;
	border-radius: 0px;
	margin-bottom: 30px;
}

h4 {
	font-size: 30px;
	letter-spacing: 4px;
	font-weight: bold;
}

/* ------ Services ------ */

.photomiddle {
	background-image: url("../images/pizza2.jpg");
	background-size: cover;
	text-align: center;
}

.services>h3 {
	color: #D44A4B;
	font-family: 'Mogra', serif;
}

.container.services {
	margin-bottom: 40px;
	margin-top: 40px;
}

.container.services>p {
	color: white;
}

.colonne>p {
	color: white;
	margin-bottom: 90px;
}

.services {
	text-align: center;
}

.roundpicture {
	border-radius: 100px;
	margin-bottom: 20px;
}

/* ------ Contact Us ------ */

.grey2 {
	background-color: #f2f2f2;
}

.contact>h3 {
	margin-bottom: 50px;
	text-align: center;
}

.contact {
	margin-top: 40px;
	margin-bottom: 40px;
}

.container>h3 {
	color: #D44A4B;
	font-family: 'Mogra', serif;
}

#message {
	height: 100px;
}

.form {
	padding-right: 50px;
}

.address {
	padding-left: 50px;
	padding-right: 50px;
}

.send {
	background-color: #D44A4B;
	border-radius: 0px;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	font-weight: bold;
	font-size: 14px;
}

span {
	font-weight: bold;
}

.social {
	border-radius: 1px;
}

/* ------ End ------- */